*,*:before,
*:after {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}
html,
body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-45deg, #effdee 0%, #edf6f9 100%);
  height: auto;
  width: 100%;
  line-height: 1.5;
}

#root-chat {
  position: relative;
  min-height: 100vh;
  
}

#root-chat .container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  margin-bottom: 7rem;
}

.MuiCircularProgress-root {
  display: inline-block;
  position: absolute;
  left: 48.5%;
  top: 45vh;
 
}

